body {
  background: #d1d2d7;
  font-family: "Baloo Da 2", sans-serif;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px 0%;
  }
}
